/* ========== Hero section Styling ========== */

.featuresSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 7rem 10rem 0;
}

.featuresSection .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: var(--text-primary);
}

.heading h2 {
  font-size: var(--h2-desktop);
}

.heading p {
  font-size: var(--subheading-desktop);
}

.featuresContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  margin-top: 6rem;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2rem;
  padding: 2rem;
  width: 32rem;
  border-radius: var(--border-lg);
  background: var(--features-card);
  box-shadow: var(--shadow-2);
}

.feature h3 {
  font-size: var(--h3-desktop);
  color: var(--text-primary);
}

.feature p {
  font-size: var(--body-text-desktop);
  color: var(--text-muted);
}
