.dashboardDemo {
  margin-top: 3.5rem;
}

.dashboardDemo img {
  box-shadow: var(--shadow-3);
  border-radius: var(--border-lg);
  width: 70rem;
  transition: all 0.5s ease-out;
}

.dashboardDemo img:hover {
  width: 80rem;
}
