/* ========== FAQs section Styling ========== */

.mobile {
  display: none;
}

.desktop {
  display: block;
}

.accordionContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 3rem;
  width: 50%;
}

.accordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.5rem;
  font-size: var(--body-text);
  color: var(--text-primary);
}

.accordion .question {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  transition: color 0.2s ease;
}

.accordion .question:hover {
  color: var(--primary-color);
}

.content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

.content.open {
  max-height: 20rem;
  padding: 1rem 0;
  opacity: 0.6;
}

/* ============ X-SMALL (Phone portrait): < 576px ============ */
@media (max-width: 31rem) {
  /* 498px / 16px = 31rem */

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .accordionContainer {
    width: 90%;
  }
}
