/* ========== Features section Styling ========== */

.featuresContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  margin-top: 6rem;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2rem;
  padding: 2rem;
  width: 32rem;
  border-radius: var(--border-lg);
  background: var(--features-card);
  box-shadow: var(--shadow-2);
}

.featureIcon {
  font-size: 2.4rem;
  color: var(--primary-color);
}

.feature h3 {
  font-size: var(--h3);
  color: var(--text-primary);
}

.feature p {
  font-size: var(--body-text);
  color: var(--text-muted);
  text-align: left;
}

/* ============ X-SMALL (Phone portrait): < 576px ============ */
@media (max-width: 31rem) {
  /* 498px / 16px = 31rem */

  .featuresContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .feature {
    width: 100%;
  }
}
