/* ========== Pricing section Styling ========== */

.pricePlans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  column-gap: 5rem;
  margin-top: 4rem;
}

.plan {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  align-items: start;
  padding: 1.5rem;
  border: 1px solid var(--text-primary);
  border-radius: var(--border-md);
  color: var(--text-primary);
}

.normal {
  width: auto;
  height: auto;
}

.scale {
  width: 24rem;
  height: 40rem;
}

.planName {
  font-size: var(--body-text-desktop);
  font-weight: 500;
}

.plan span {
  color: var(--text-muted);
}

.price {
  font-size: var(--h3-desktop);
  margin: 1rem 0;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: var(--small-text-desktop);
}

.features li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.planCTA {
  width: 100%;
}

.planCTA a {
  display: inline-block;
  text-wrap: nowrap;
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: var(--border-sm);
  color: var(--primarybg);
  background: var(--primary-color);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.planCTA a:hover {
  border: 1px solid var(--text-primary);
  background: var(--primarybg);
  color: var(--text-primary);
  font-weight: 600;
}

.supportingText {
  font-size: var(--small-text-desktop);
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}

.supportingText span {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.infoIcon {
  color: var(--primarybg);
  width: 1.7rem;
  height: 1.7rem;
}
