/* ===== Navbar Styling ===== */

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 10rem;
  background: var(--primarybg);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.logoContainer {
  overflow: hidden;
  width: 15rem;
}

.navbarContainer img {
  width: 20rem;
  transform: translateX(-22%);
  cursor: pointer;
}

.navbarItems {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.ctaContainer {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navLink {
  color: var(--text-primary);
  font-size: var(--body-text);
  transition: transform 0.3s ease;
  display: inline-block;
  cursor: pointer;
}

.ctaContainer a {
  font-size: var(--body-text);
  text-wrap: nowrap;
}

.loginBtn {
  display: inline-block;
  border: 1px solid var(--text-primary);
  padding: 0.6rem 2.4rem;
  color: var(--text-primary);
  border-radius: var(--border-sm);
  transition: transform 0.3s ease;
}

.signupBtn {
  display: inline-block;
  padding: 0.6rem 2rem;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--primarybg);
  border-radius: var(--border-sm);
  transition: transform 0.3s ease;
}

.loginBtn:hover,
.signupBtn:hover,
.navLink:hover {
  transform: translateY(-3px);
}

.cta {
  display: none;
}

.hamburger,
.closeIcon {
  cursor: pointer;
  display: none;
}

/* ============ X-SMALL (Phone portrait): < 576px ============ */
@media (max-width: 31rem) {
  /* 498px / 16px = 31rem */

  .navbarContainer {
    padding: 2.5rem 4rem;
  }

  .cta {
    gap: 3rem;
    display: flex;
  }

  .hamburger,
  .closeIcon {
    display: block;
  }

  .navbarItems,
  .navLinks,
  .ctaContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
  }

  .navLinks {
    align-items: start;
    gap: 8rem;
  }

  .navLink {
    font-size: var(--subheading);
  }

  .navbarItems {
    position: absolute;
    width: 30rem;
    height: 65vh;
    background: var(--primarybg);
    top: -100rem;
    right: 0;
    z-index: 9;
    transition: all 0.6s ease;
  }

  .ctaContainer {
    gap: 3rem;
  }

  .ctaContainer li {
    width: 100%;
  }

  .loginBtn,
  .signupBtn {
    width: 100%;
    text-align: center;
    padding-block: 1rem;
  }

  .navbarItems.active {
    top: 50px;
    transition: all 0.6s ease;
  }
}
