/* ========== SIDEBAR STYLING ========== */

.sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--secondary-color-2);
  width: 25rem;
  padding: 2rem;
  border-radius: 0 var(--border-lg) var(--border-lg) 0;
}

.sidebar.open {
  left: 0;
}

/* .closed {
  transform: translateX(0);
}

.open {
  transform: translateX(-100%);
} */

.logoContainer img {
  width: 20rem;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: start;
  width: 100%;
  margin-top: 4rem;
}

.sidebarFooter {
  width: 100%;
}

.icon {
  width: 2.6rem;
  height: 2.6rem;
}

.menu a,
.sidebarFooter a,
.sidebarFooter button {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: var(--app-txt);
  padding: 1rem 2rem 1rem 3rem;
  border-radius: var(--border-md);
  width: 100%;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.sidebarFooter button {
  background: none;
}

.activeTab {
  background: var(--primary-color);
  color: var(--bg-topcard);
  font-weight: 600;
}

.inactiveTab:hover,
.sidebarFooter button:hover {
  transform: translateX(8px);
}

/* ============ X-SMALL (Phone portrait): < 576px ============ */
@media (max-width: 31rem) {
  /* 498px / 16px = 31rem */

  .sidebar {
    width: 30rem;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    padding: 12rem 3rem;
    transition: transform 0.4s ease;
    transform: translateX(-100%);
  }

  .sidebar > div {
    width: 100%;
  }

  .menu {
    gap: 1.5rem;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  /* .closed {
    transform: translateX(-100%);
  }

  .open {
    transform: translateX(0);
  } */
}
