/* ===== CTA Button Styling ===== */

.ctaContainer {
  padding: 1.8rem;
  background: var(--primary-color);
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
  border-radius: var(--border-lg);
  transition: transform 0.3s ease;
}

.ctaContainer:hover {
  transform: translateX(10px);
}

.startCta {
  font-size: var(--cta);
  color: var(--primarybg);
  font-weight: 500;
}

/* ============ X-SMALL (Phone portrait): < 576px ============ */
@media (max-width: 31rem) {
  /* 498px / 16px = 31rem */

  .ctaContainer {
    width: 100%;
    border-radius: var(--border-md);
  }
}
