/* =========== GLOBAL STYLES ========== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* (10px / 16px) x 100 = 62.5% */
  scroll-behavior: smooth;
}

body {
  font-family: "Geist";
  background-color: var(--primarybg);
  /* min-height: 100vh; */
}

/* html,
body,
#root {
  height: auto;
  overflow: visible;
} */

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 10rem 10rem 0;
}

.sectionHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: var(--text-primary);
}

.sectionHeading h2 {
  font-size: var(--h2);
}

.sectionHeading p {
  font-size: var(--subheading);
}

/* =============== RESPONSIVENESS =============== */

/* ============ LARGE (Laptops): 1024px - 1280px ============ */
@media (max-width: 72rem) {
  /* 1150px / 16px = 72rem */

  html {
    font-size: 56.2%; /* (9px/16px) x 100 = 56.2% */
  }
}

/* ============ MEDIUM (Tablets): 768px - 1023px ============ */
@media (max-width: 43rem) {
  /* 690px / 16px = 43rem */

  html {
    font-size: 50%; /* (8px/16px) x 100 = 50% */
  }
}

/* ============ SMALL (Phone landscape): 576px - 767px ============ */
@media (max-width: 32rem) {
  /* 510px / 16px = 32rem */

  html {
    font-size: 43.8%; /* (7px/16px) x 100 = 43.8% */
  }
}

/* ============ X-SMALL (Phone portrait): < 576px ============ */
@media (max-width: 31rem) {
  /* 498px / 16px = 31rem */

  html {
    font-size: 43.8%; /* (7px/16px) x 100 = 43.8% */
  }
}
