/* =========== GLOBAL STYLES ========== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* (10px / 16px) x 100 = 62.5% */
}

body {
  font-family: "Geist";
  background-color: var(--primarybg);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 10rem 10rem 0;
}

.sectionHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: var(--text-primary);
}

.sectionHeading h2 {
  font-size: var(--h2-desktop);
}

.sectionHeading p {
  font-size: var(--subheading-desktop);
}
