:root {
  /* ===== Light (Default) Mode Colors ===== */
  --primary-color: #142959;
  --secondary-color-1: #dbdb1e;
  --secondary-color-2: #fbf5d5;

  --accent-color-1: #f91919;
  --accent-color-2: #257629;
  --accent-color-3: #c9b940;

  --app-bg: #f0f8ff;
  --bg-cards: #fffff0;
  --bg-topcard: #ffffff;
  --primarybg: #f9fafb;
  --features-card: #f0f8ff;

  --text-primary: #111827;
  --text-muted: #6b7280;

  /* ===== Border radius ===== */
  --border-xsm: 0.9rem;
  --border-sm: 1.1rem;
  --border-md: 1.6rem;
  --border-lg: 2.2rem;
  --border-xl: 4rem;

  /* ===== Shadows ===== */
  --shadow-1: -2px 1px 8px #929090;
  --shadow-2: 0 6px 12px #9c9a9a;
  --shadow-3: 0 25px 50px #9c9a9a;

  /* ===== Font sizes ===== */
  --h1: 5.8rem;
  --h2: 3.5rem;
  --h3: 2.2rem;
  --subheading: 1.8rem;
  --body-text: 1.6rem;
  --cta: 1.7rem;
  --footer-text: 1.4rem;
  --small-text: 1.2rem;
}
